{{#if isUser}}
  <div class="container">
    <div class="is-flex is-justify-content-center	">
      <h1 class="title is-3">Carrito</h1>
    </div>
    {{#each cart.products}}
      <div class="cart-item">
        <figure>
          <img src="{{product.thumbnails}}" alt="{{product.title}}">
        </figure>
        <section class="details">
          <div class="min-details">
            <h1>{{product.title}}</h1>
            <h1 class="price">{{product.price}}</h1>
            <p>Cantidad: {{quantity}}</p>
          </div>
        </section>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No tienes permisos para ver el carrito de compras</p>
{{/if}}
{{#if error}}
<h3 class="title is-5">{{error}}</h3>
{{/if}}