<div>
  <h1>¡Hola {{user.name}}!</h1>
  {{#if isAdmin}}
    <div class="container">
      {{#each products}}
          <div class="card">
            <figure>
              <img src="{{this.thumbnails}}" alt="this.title"></img>
            </figure>
            <section class="details">
              <div class="min-details">
                <h1>{{this.title}}</h1>
                <h1 class="price">{{this.price}}</h1>
              </div>
              <a href="#" class="btn">Agregar al carrito</a>
            </section>
          </div>
      {{/each}}
    </div>
  {{else}}
    <p>No tenes permisos para ver la lista de productos</p>
  {{/if}}
</div>